CONFIG = {
    'mode': 'django',
    #'environment': {
    #    'PYTHONPATH': '/path/to/custom/python/packages',
    #},
    'working_dir': '/path/to/my/app',
    'args': (
        '--bind=127.0.0.1:8080',
	#'--daemon',
        '--workers=2',
        # '--worker-class=egg:gunicorn#sync',
        '--timeout=30',
        'settings',
    ),
}
