<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
</head>
<body>
	<div class="top-bar">
		<section class="top-bar-section">
			<ul class="right">
				{% if username %}
					<li><a href="/logout/">Logout ({{ username }})</a></li>
				{% else %}
					<li><a href="/login/">Login</a></li>
				{% endif %}
			</ul>
		</section>
	</div>
	<h2>{{ title }}<h2>
	{% for question in questions %}
		<h6>{{ question.added_at }}</h6>
		<h4><a href="/question/{{ question.id}}">{{ question.title }}</a></h4>
		<p>{{ question.text }}</p>
		<hr>
	{% endfor %}
	{% for p in page.paginator.page_range %}
		{% if p == page.number %}
		<li class="active">
		{% else %}
		<li>
		{% endif %}
		<a href="{{ page.paginator.baseurl }}{{ p }}">{{ p }}</a>
		<li>
	{% endfor %}
	{% block login %}{% endblock %}
</body>
</html>
